.profile-card {
    flex: 1 1 30%;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    height: 200px;
}
.card-info {
    font-weight: 200;
}
.profile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.profile-container h2 {
    flex: 1 1 100%;
    order: -1;
}